<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.datetimepicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">




    <script src="{{ url_for('static', filename='js/active.js') }}"></script>


    </script>
    {% block css %} {% endblock %}


  </head>
  <body>



    <div id="container">
      <div class="wrap">
        <h3>{{balance}}</h3>
        <div class="container">
          {% block content %}
          <a href="/insert" ><button class="btn btn-primary">Nhập lịch sử</button></a>
          <a href="/history"><button class="btn btn-primary">Xem lịch sử</button></a>
          {% endblock %}
        </div>
      </div>

    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.2.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.datetimepicker.full.min.js') }}"></script>


    <script type="text/javascript">
    jQuery(document).ready(function($) {
      jQuery.datetimepicker.setLocale('vi');

      jQuery('#datetimepicker').datetimepicker({
      timepicker:false,
      format:'d-m-Y'
      });

    });


    </script>
    {% block js %}{% endblock %}






  </body>
</html>
